<li>
	{{name}}

	<button class="change-if-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}} You Ate Me {{else}}Eat Me!{{/if}}
	</button>

	
	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>